# Python
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
venv/
env/
ENV/
.env

# Fichiers de base de données
db.sqlite3
*.db

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Machine Learning (El Hadji Massogui Diop)
ml/trained_models/*.pkl
ml/trained_models/*.joblib
ml/datasets/

# Docker
postgres_data/

# Logs
*.log
